.pie-pagina {
    width: 100%;
    background-color: #f00000e8;
    overflow-y: hidden;
}

.pie-pagina .grupo-1 {
    width: 100%;
    max-width: 1200px;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 50px;
    padding: 45px 0px;
}

.pie-pagina .grupo-1 .box figure {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: hidden;
}

.pie-pagina .grupo-1 .box figure img {
    width: 250px;
    overflow-y: hidden;
}

.pie-pagina .grupo-1 .box h2 {
    color: #fff;
    margin-bottom: 25px;
    font-size: 20px;
}

.pie-pagina .grupo-1 .box p {
    color: #efefef;
    margin-bottom: 10px;
}

.pie-pagina .grupo-1 .red-social a {
    display: inline-block;
    text-decoration: none;
    width: 45px;
    height: 45px;
    line-height: 45px;
    color: #fff;
    margin-right: 10px;
    background-color: #8E0A05;
    text-align: center;
    transition: all 300ms ease;
}

.pie-pagina .grupo-1 .red-social a:hover {
    color: aqua;
}

.pie-pagina .grupo-2 {
    background-color: #8E0A05;
    padding: 15px 10px;
    text-align: center;
    color: #fff;
}

.pie-pagina .grupo-2 small {
    font-size: 15px;
}

/* Media Query for responsive design */
@media (max-width: 768px) {
    .pie-pagina .grupo-1 {
        grid-template-columns: 1fr;
        grid-gap: 20px;
        padding: 20px 0;
    }
    
    .pie-pagina .grupo-1 .box {
        text-align: center;
    }
    
    .pie-pagina .grupo-1 .box figure img {
        width: 150px;
    }
    
    .pie-pagina .grupo-1 .box h2 {
        font-size: 18px;
    }
    
    .pie-pagina .grupo-1 .box p {
        font-size: 14px;
    }
    
    .pie-pagina .grupo-1 .red-social a {
        margin-right: 5px;
    }
    
    .pie-pagina .grupo-2 small {
        font-size: 12px;
    }
}
