/* Estilos generales del header */
header {
    width: 100%;
    background: #f00000e8;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    z-index: 1000;
    padding: 10px 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

header img {
    width: 8%;
    cursor: pointer;
}

header ul {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
    flex-grow: 1;
    justify-content: flex-end;
    transition: all 0.3s ease-in-out;
}

header li {
    margin-left: 30px;
    font-size: 15px;
}

header a {
    color: #FFF;
    text-decoration: none;
    padding: 10px 15px;
    transition: all 0.3s ease;
}

header a:hover {
    transform: translateY(-5px);
}

/* Ícono del menú hamburguesa */
.menu_toggle {
    display: none;
    font-size: 30px;
    color: #FFF;
    cursor: pointer;
}

/* Media Query para pantallas menores a 1000px */
@media screen and (max-width: 1000px) {
    .menu_toggle {
        display: block;
    }

    header ul {
        position: absolute;
        top: 100px;
        left: 0;
        width: 100%;
        height: fit-content;
        background-color: #8E0A05 !important;
        flex-direction: column;
        align-items: center;
        display: none; /* Ocultar inicialmente */
        z-index: 999;
    }

    header ul.active {
        display: flex;
    }

    header li {
        width: 100%;
        text-align: center;
        padding: 15px 0;
    }

    header img {
        width: 20%;
    }

    header li:hover{
        background-color: #8e0a05a8;
    }
}

/* Media Query para pantallas menores a 700px */
@media screen and (max-width: 700px) {
    header img {
        width: 25%;
    }

    .menu_toggle {
        font-size: 28px;
        margin-right: 5px;
    }

    header ul {
        top: 80px;
        height: fit-content;
        background-color: #8E0A05 !important;
    }

    header li {
        font-size: 18px;
    }
}
