<footer class="pie-pagina">
    <div class="grupo-1">
        <div class="box">
            <figure>
                    <img src="img/logo.png" alt="">
                
            </figure>
        </div>
        <div class="box">
            <h2>SOBRE NOSOTROS</h2>
            <p>Somos una empresa dedicada a la reparación y venta tanto como accesorios, cascos y reparaciones</p>
            <span><p>Horario de atención:</p></span>
            <p>Lunes a Miercoles: 9:30am - 8:00pm</p>
            <p>Jueves y Sabado: 9:30am - 4:00pm</p>
        </div>
        <div class="box">
            <h2>SIGUENOS</h2>
            <div class="red-social">
                <a href="/mensaje_admin" class="fa fa-facebook"></a>
                <a href="/mensaje_admin" class="fa fa-instagram"></a>
                <a href="/mensaje_admin" class="bi bi-whatsapp"></a>
                <a href="/mensaje_admin" class="bi bi-envelope-at-fill"></a>
            </div>
        </div>
    </div>
    <div class="grupo-2">
        <small>&copy; 2018 <b>MRC</b> - Todos los Derechos Reservados.</small>
    </div>
</footer>