<header class="red">
    <img src="img/logo.png" alt="Logo">
    
    <!-- Menú hamburguesa -->
    <a class="menu_toggle">☰</a>

    <!-- Menú principal -->
    <div class="center-links">
        <a href="/">Inicio</a>
        <a href="/producto">Productos</a>
        <a href="/descuentos">Promociones</a>
        <a href="/nosotros">Nosotros</a>
    </div>
    
    <!-- Íconos del lado derecho -->
    <div class="icons">
        <a href="search" class="bi bi-search"></a>
        
    </div>
</header>