  <!-- Sidebar -->
    <div class="sidebar">
        <div class="sidebar-logo">
            <img src="img/logo.png" alt="Logo">
        </div>
        <a href="/inicio_admin" class="bi bi-house-door"> INICIO</a>
        <a href="/producto_admin" class="bi bi-box"> PRODUCTOS</a>
        <a href="/chat-test" class="bi bi-chat-left-text"> MENSAJES</a>
        <a href="/upload" class="bi bi-cloud-upload"> SUBIR PRODUCTO</a>
        <a href="/ventas" class="bi bi-bar-chart"> VENTAS</a>
        <a href="/descuento_admin">
            <i class="fas fa-tags"></i> DESCUENTOS
        </a>
        <a href="/servicio-admin">
            <i class="fas fa-tools"></i> SERVICIOS
        </a>
        
        <a href="/inventario"><i class="bi-list"></i>INVENTARIO</a>

        <% if (login) { %>
            <a href="/chat-test" class="bi bi-person-circle">
                <%= admin %>
            </a>
            <% } %>
                <a href="/logout" class="bi bi-box-arrow-right"> CERRAR SESIÓN</a>
    </div>