<header class="red">
    <img src="img/logo.png" alt="">
    <a class="menu_toggle">☰</a>
    
      
        
        
        <ul>
            <li><a href="/">INICIO</a></li>
            <li><a href="/producto">PRODUCTOS</a></li>
            <li><a href="/descuentos">DESCUENTOS</a></li>
            <li><a href="/nosotros">NOSOTROS</a></li>
            
            <li><a href="search" class="bi bi-search"></a></li>
            <li><a href="cart" class="bi bi-cart"></a>
              <a class="objeto" href="cart"><%= objeto%></a>
            </li>
            
            <li>
                <% if ( usuario ){ %>
                    <a href=""><%= usuario %></a>
                    <li><a href="/logout" class="bi bi-box-arrow-right"></a></li>
                <% }else{%>
                    <a href="login" class="bi bi-person-circle"></a></li><br>
                <%}%>
           
        </ul>
        
        
      
      
    </header>